@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --fonte1: Verdana, Geneha, Tahoma, sans-serif;
    --fonte2: 'Passion one', cursive;
    --fonte3: 'Sriracha', cursive;

    --cor1:#F2E6D8;
    --cor2:#D99962;
    --cor3:#8C634A;
    --cor4:#c5a795;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: gray;
    font-family: var(--fonte1);
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--cor1);
    color: var(--cor2);
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    line-height: 3rem;
}

header h1 {
    font-variant: small-caps;
    font-size: 5rem;
    font-family: var(--fonte2);
}

header h2 {
    font-size: 1rem;
    font-weight: lighter;
}

header a, footer a {
    text-decoration: none;
    color: var(--cor3);
    font-weight: 600;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

section {
    line-height: 2.5rem;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 50px;
    font-family: var(--fonte3);
    font-size: 1.5rem;
    text-align: justify;
}

section p {
    padding-bottom: 1.5em;
}

section.normal {
    background-color: var(--cor4);
}

section.imagem {
    background-color: #1b1b1b;
    color: var(--cor1);
}

section.imagem p{
    background-color: rgba(0, 0, 0, 0.349);
    width: 300px;
    display: inline-block;
}

section#img01 {
    background-image: url(desafios\des12\imagens\background001.jpg);
}

#img02 {
    background-image: url(desafios\des12\imagens\background002.jpg);
}

footer {
    background-color: var(--cor1);
    color: var(--cor2);
    padding: 10px;
    text-align: center;
}